<!DOCTYPE html>
<html>
  <head>

    <%- include partials/head %>

  </head>
  <body>

    <!-- HEADER-->
    <%- include partials/header %>

    <!-- CONTENT-->
    <main role="main" class="p-5 mt-5 pb-3">

        <!-- Products -->
        <div class="row row-cols-1 row-cols-md-3 p-3">

            <% executiveCommittee.results.forEach(function(executive){ %>
            <div class="col mb-4">
                
                <div class="flip-box">
                    <div class="flip-box-inner">
                      
                        <div class="flip-box-front">
                        <img src="<%= executive.imageurl %>" class="card-img-top" alt="<%= executive.name %> image">
                      </div>
                      
                      <div class="flip-box-back">
                        <div class="p-3 pt-5">
                            <h2><%= executive.name %></h2>
                            <h4 class="text-dark"><%= executive.job %></h4>
                            <p><%= executive.description %></h3>
                        </div>
                      </div>

                    </div>
                </div>

            </div>

            <% }); %>

        </div>

    </main>

  <!-- FOOTER -->
  <%- include partials/footer %>

  </body>
</html>
