<!DOCTYPE html>
<html>

  <head>

    <%- include partials/head %>
    
  </head>

  <body>

    <!-- HEADER-->
    <%- include partials/header %>

    <!-- CONTENT-->
    <main role="main" style="padding: 3% 10% 0 10%;">

      <!-- Services -->
      <% services.results.forEach(function(service, index){ %>

        <div class="row featurette p-5">

          <%if ( (index % 2) == 1) { %> 
            <div class="col-md-7 order-md-2"> 
          <% } else { %>  
              <div class="col-md-7 ">
          <% } %>      
              <h2 class="featurette-heading"><%= service.name %> <span class="featurette-subheading"><%= service.slogan %></span></h2>
              <p class="lead"><%= service.description %></p>
            </div>
      
            <div class="col-md-5 justify-content-center"> 
              <img src="<%= service.imageurl %>" class="featurette-image img-fluid">
            </div>
      
        </div>
      
        <% if(index < services.results.length - 1){ %>
        <hr class="featurette-divider my-5">
        <% } %>
          
      <% }); %>

    </main>

  <!-- FOOTER -->
  <%- include partials/footer %>

</body>

</html>